@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.ttf');
}

.root {
    -fx-font-family: 'Fira Code';
    font-family: "Fira Code", monospace;
}

/* CSS Menu */

#menuTitle {
    -fx-text-fill: white;
    -fx-background-color: #2D2D45;
    -fx-font-size: 30px;

    /* Standard Property */
    background-color: #2D2D45;
    font-size: 30px;
}

#updateMenu {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;

    /* Standard Property */
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}

.menuButton {
    -fx-text-fill: white;
    -fx-background-color: transparent;

    /* Standard Property */
    background-color: transparent;
    background-repeat: no-repeat;
}


.menuButton:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;

    /* Standard Property */
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}

#menu {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-color: #2D2D45;
    -fx-padding: 20;

    /* Standard Property */
    background-color: #2D2D45;
    font-size: 30px;
    padding: 20;
}

#form {
    -fx-background-color: #1F1E2C;
    -fx-padding: 70 0 0 40;
    /* Standard Property */
    background-color: #1F1E2C;
    padding: 70 0 0 40;
}


.fieldLabel {
    -fx-text-fill: white;
    -fx-font-size: 24px;

    /* Standard Property */
    font-size: 24px;
}
#username {
    -fx-background-color: transparent;

    /* Standard Property */
    background-color: transparent;
}

/* CSS Form */
#formTitle {
    -fx-text-fill: white;
    -fx-font-size: 64px;
    -fx-font-weight: bold;

    /* Standard Property */
    font-size: 64px;
    font-weight: bold;
}

#formSubtitle {
    -fx-text-fill: #A4A4A4;
    -fx-font-size: 16px;

    /* Standard Property */
    font-size: 16px;
}

#appBox {
    -fx-font-size: 16px;
    -fx-pref-width: 460px;
    -fx-pref-height: 30px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;

    /* Standard Property */
    font-size: 16px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
}

#appBox .combo-box .list-cell {
    -fx-text-fill: white; 
}

#appBox .combo-box .list-view {
    -fx-background-color: #3A3E5D;

    /* Standard Property */
    background-color: #3A3E5D;
}

#appBox .combo-box .list-cell:filled:selected, #appBox .combo-box .list-cell:filled:hover {
    -fx-background-color: #3A3E5D;
    -fx-text-fill: white;

    /* Standard Property */
    background-color: #3A3E5D;
}

#appBox .combo-box .arrow-button .arrow {
    -fx-background-color: blue;

    /* Standard Property */
    background-color: white;
}

#appBox .combo-box-base .combo-box-popup {
    -fx-background-color: #3A3E5D;

    /* Standard Property */
    background-color: #3A3E5D;
}

#appBox .combo-box-base {
    -fx-background-color: #3A3E5D;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 1px 0px;

    /* Standard Property */
    background-color: #3A3E5D;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}

#appBox .text {
    -fx-fill: white;
    fill: white;
}

.field {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 1px 0px;

    /* Standard Property */
    font-size: 20px;
    background-color: transparent;
    border-color: white;
    border-width: 0px 0px 1px 0px;
}

#showPass {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-pref-height: 30px;

    /* Standard Property */
    background-color: transparent;
    padding: 10;
}

#showPass .box {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-border-color: white;
    -fx-border-width: 1px;

    /* Standard Property */
    background-color: transparent;
    padding: 10;
    border-color: white;
    border-width: 1px;
}

#showPass .text {
    -fx-fill: white;
    -fx-font-size: 16px;

    /* Standard Property */
    fill: white;
    font-size: 16px;
}

#addButton {
    -fx-background-color: #3A3E5D;
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-pref-width: 286px;
    -fx-pref-height: 64px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(29, 29, 45, 0.281), 14, 0, 0, 4);

    /* Standard Property */
    font-size: 16px;
    background-color: #3A3E5D;
}

